{% extends "client/base.html" %}

{% load static %}

{% block content %}    

    {% if main_table %}
        <div class="container">
            <h3 class="text-center">Основні показники</h3>
            <div class="row">
                <div class="col-sm">
                    <div id="main-table" class="row">{% include "client/ajax_parts/main_table.html" with main_table=main_table %}</div>
                </div>
            </div>
            <div class="load-changes" class="row">
                <img src="{% static 'images/ajax-loader.gif' %}" alt="Loading..."/>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h3 class="text-center">Товари, продаж яких зріс</h3>
                    <div class="load-changes">
                        <img src="{% static 'images/ajax-loader.gif' %}" alt="Loading..."/>
                    </div>
                    <div id="increase-table"></div>
                </div>
                <div class="col-sm">
                    <h3 class="text-center">Товари, продаж яких упав</h3>
                    <div class="load-changes">
                        <img src="{% static 'images/ajax-loader.gif' %}" alt="Loading..."/>
                    </div>
                    <div id="drop-table"></div>
                </div>
            </div>
        </div>

    {% else %}
        <p>Please <a href="{% url 'client:login' %}">login</a></p>
{% endif %}

{% endblock %}

{% block additional_script %}
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}